body {
    background: azure;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 400;
    font-size: 40px;
}

.block{
    text-align: center;
    background: lightskyblue;
    color: white;
}
header {
    text-align: center;
}
footer {
    background: dimgray;
    color: white;
    text-align: center;
    flex-shrink: 0;
}